*.js text eol=lf diff
*.mjs text eol=lf diff
*.json text eol=lf diff
*.jsonc text eol=lf diff
*.sql text eol=lf diff
*.html text eol=lf diff
*.css text eol=lf diff
*.md text eol=lf diff
*.ts text eol=lf diff
*.py text eol=lf diff
*.yml text eol=lf diff
*.toml text eol=lf diff
